doctype html
html(lang="pt-br")
  head
    title= pageTitle
    script(type="text/javascript" src="app.js")
      | if (foo) {
      |    bar()
      | }
  body
    h1 Jade - node template engine
    #container
      - if (true)
         You are amazing
      - else
         Get on it!
         Get on it!
         Get on it!
         Get on it!